.navbar {
    width: 95%;
    text-transform: uppercase;
    border-bottom: 1px solid darkgrey;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
   filter: drop-shadow(0 0 2em #FA4CEE);
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-menu li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative
}
.nav-menu li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #FA4CEE;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.nav-menu li:hover::after{
    width: 100%;
}
.nav-menu li img{
    display: flex;
    margin: auto;
}
.link{
    text-decoration: none;
    color: black;
}
.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
}
@media(max-width: 768px){
    .navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #FA4CEE;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}