.footer{
    margin: 50px 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    text-align: center;
}
@media(max-width:768px){
    .footer{
        margin: 50px 70px;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
}